<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zernerda бот для пробива с огромным функционалом!</title>
  <meta name="keywords" content="Zernerda бот пробив тг номер телефона бесплатно боты телеграм деанон человек информация по номеру"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="content-language" content="ru"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
</head>
